

<main>

    <h3>Hotels Available for Tonight.</h3>
   
    {{#each hotel}}
 

    <a href="/{{ id }}"><h5>{{name}} </h5></a>
    
    <p>Location:  {{location}} </p>
    {{/each}}

   

         <form action="/new" method="GET">
            <input type="submit" value="Add New Hotel"/>
        </form>     
        </main>