<!DOCTYPE>
	<html>
	<head>
		<title>Nightly</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<h1>
    Nightly
</h1>

<h2> 
    Providing shelter resources for people experiencing homelessness.
</h2>

	</head>

	<body>

	
	    {{{ body }}}

	    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
	</body>
</html>
