<!DOCTYPE>
	<html>
	<head>
		<title>Nightly</title>
			<link rel="stylesheet" type="text/css" href="/style.css">
<content>
			<nav>
				<h4>Nightly</h4>    <h6>Solving Shelter Needs.</h6>
		<a href="/">Hotels</a>
		<a href="/service"> Services</a>
		<a href="/guest"> Guests</a>
		
		
</nav>
		<h1><div class="dot">
   			 <div class= "header"> Nightly </div></div>
		</h1>
			

		<h2> 
    		Providing   shelter  resources for people Nightly.
		</h2>
</content>
	</head>

	<body>

	
	    {{{ body }}}

	    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
	</body>
	<footer>

	</footer>
</html>
