*{
	margin: 0;
	padding: 0;
}

body {
	
	font-family: 'Josefin Sans',sans-serif;
    color: white;
    text-align: center;
}
h1{
    margin: 20px;
    font-size: 60px;
    color: rgb(102, 150, 150) ;
    font-weight: 300;
    
}

a {
    color:white;
    text-decoration: none;
    font-size: 25px;
    margin:100px;
    font-weight: 100;
    

}
nav{
    
    font-size: 24px;
    height: 41px;
    font-weight: 100;
    background-color: rgb(218, 165, 32,0.7);
}
h3{
    font-weight: 301;
    font-size: 40px;
}

.dot {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255,0.9);
    border-radius: 50%;
    display: inline-block;
    
  }
  footer{
      background-color: white;
      height: 100px;
  }
  .header{
    margin-top: 55px;


  }

 html { 
    background: url(homeless.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    
  }
 h5{
     background-color:white;
    width: 200px;
    height: 30px;
    display: inline-block;
    color: rgb(46, 83, 83);
    text-align: center;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-weight: 501;
 }
 main{
    background-color: rgba(0, 0, 0, 0.5);
    height: 501px;
   
}
p{
    margin-bottom: 5px;
}
h2{
    font-weight: 100;
    font-size: 31px;
    color:gold;
    background-color: rgba(43, 82, 78, 0.7)
    
}
h4{
    display: inline;
    font-weight: 101;
    font-size: 31px;
    ;
    
   
}

h6{
    display: inline;
    font-weight: 101;
    font-size: 20px;
    ;
}